<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_MODE</key>
	<string>$(APP_MODE)</string>
	<key>URL_SERVER</key>
	<string>$(URL_SERVER)</string>
	<key>IP_SERVER</key>
	<string>$(IP_SERVER)</string>
	<key>SERVER_TIME_OUT</key>
	<string>$(SERVER_TIME_OUT)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
